[submodule "Polygon/Assets/ManusVR/manus-polygon"]
	path = Polygon/Assets/ManusVR/manus-polygon
	url = https://github.com/manusvr/Artus.git
[submodule "Polygon/Assets/ManusVR/manus-core"]
	path = Polygon/Assets/ManusVR/manus-core
	url = https://github.com/manusvr/unity-core.git